@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.nav ul{
    display: flex;
    width: 100%;
}
.nav ul li
{
    list-style: none;
    padding: 35px;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav ul li a:hover{
    text-decoration: underline;
    color: white;
    font-size: 20px;
}
.gree
{
    background-color: black;
}
.content
{
    margin: auto;
    justify-content: center;
}
.contai
{
    margin:150px auto;
    width: 30%;
}
.contai input
{
    background: transparent;
    border: none;
    border-bottom:2px solid black ;
    text-align: center;
}
.tooss
{
	font-family: 'Open Sans', sans-serif;
}
